<form action="/books" method="post">
  <input name="book[author]" placeholder="author" />
  <input name="book[title]" placeholder="title" />
  <input name="book[snippet]" placeholder="snippet" />
  <button>Create</button>
</form>