<p><%= @book.author %></p>
<p><%= @book.title %></p>
<p><%= @book.snippet %></p>

<form action="/books/<%= @book.id %>" method="post">
  <input type="hidden" name="_method" value="delete" />
  <button>Delete this book</button>
</form>