h1 {
    color: green;
}
.parent {
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
}
li {
    font-size: 1.5em;
}
ol > li {
    font-size: 1em;
}
body > div {
    width: 50%;
}