<h1>Dogs#index</h1>
<div class="container">
    <% @dogs.each do |dog| %>
        <div class="contained">
            <h2><%= dog.name %></h2>
            <br>
            <a href="<%=dog_path(dog)%>"">
                <img class="profile" src="<%=dog.image_url%>"/>
            </a>
        </div>
    <% end %>
</div>

